<h1>Add Listing</h1>
<form method='post' action='/create'>
  <label><span>Brand</span><input name='brand' type='text' /></label>
  <label><span>Model</span><input name='model' type='text' /></label>
  <label><span>Price</span><input name='price' type='number' /></label>
  <label><span>Year</span><input name='year' type='number' /></label>
  <label><span>Description</span><input
      name='description'
      type='text'
    /></label>
  <input type='submit' value='List Car' />


</form>